@charset "utf-8";

body{
    background-color: #FFAE00;
}

@font-face{
    font-family:"Horror";
    src: url('../fonts/Old Horror Films 1-0.ttf');
}

@font-face{
    font-family:"Jemima";
    src: url('../fonts/Jemima-Medium.ttf');
}

h1{
    font-family: "Horror";
    font-size: 70px;
    text-align: center;
}

.jemimafont{
    text-align: center;
    font-family: "Jemima";
    font-size: 30px;
    margin:0px 40px;
}

h2{
    font-family: "Akshar";
    font-size: 50px;
}

.googfont{
    font-family: "Oswald";
    font-size: : 40px;
    margin: 0px 20px;
}

i{
    font-size: 150px;
    color: white;
}

.icons{
    text-align:  center;
    padding: 10px;
}

.icons i{
    background-color: #634A00;
    text-shadow: 0 0 10px  rgba(0,0,0,0.3);
    margin: 10px;
    transition: all 0.3s ease;
}

.icons i:hover{
    text-shadow: 0 0 15px #e3eb16;
}