.toppage{
    height: 120px;
    background-color: #b9b952;
}
header h1{
    text-align: center;
    font-size: 50px;
}
.botpage{
    background-color: #40c4b0;
    flex-shrink: 0;
}
footer h2{
    text-align: center;
    font-size: 15px;
}
footer{
    height: 25px;
    margin-top: -25px;
}
.content{
    flex: 1 0 auto;
    margin-bottom: 30px;
}
html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
.big-icon{
    font-size: 100px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.bi-wrench{
    color:#7e908f
}
.bi-watch{
    color: #69797c
}
.bi-water{
    color: aqua;
}
.bi-suit-heart-fill{
    color: darkred;
}
.bi-scissors{
    color: burlywood;
}
.col-sm-12 i:hover {
    box-shadow: 0 0 20px #ffff00;
}
.col-sm-12 i {
    border-radius: 20%;
    margin-top: 10px;
    padding: 20px;
}
body{
    color: #fff;
}
