@charset "utf-8";
h1{
            font-size:80px;
}
h2{
            font-size:60px;
 }
.mytext{
            font-size: 45px;
            margin-top:10px;
            margin-left:740px;
 }
.custimg{
            width: 700px;
            float: left;
            margin-right:20px;
            margin-left:20px;
            margin-top:10px;
}
.custtable{
            border:thin #000 double;
            width:760px;
}
.custtable td{
            border:thin #000 double;
            font-size:32px;
}
.characters{
    width:70%;
}